:root {
  --bg-color: #dbd7cb;
  --card-color: #ffffff;
  --primary-color: #6cea61;
  --secondary-color: #9aa4b2;
  --text-color: #1f2937;
  --footer-bg: #f8f9fb;
  /* --text-primary: #1f2933;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;
  --btn-background:#f8f9fb;
  --border-color: #e5e7eb;
  --accent-color: #6b8afd;
  --header-bg: #ffffff;
  --toggle-bg: #f1f3f7;
  --modal-bg: #00000061; */
}

* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-primary-custom {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
}
 
 /* ==============================
       BREAKPOINT 1: TABLET (≥ 768px)
       ============================== */
    @media (min-width: 768px) {
      header {
        text-align: left;
        padding: 4rem 3rem;
      }

      header h1 {
        font-size: 2.5rem;
      }

      main {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    /* ==============================
       BREAKPOINT 2: DESKTOP (≥ 1024px)
       ============================== */
    @media (min-width: 1024px) {
      header {
        padding: 5rem 4rem;
      }

      header h1 {
        font-size: 3rem;
        max-width: 700px;
      }

      header p {
        max-width: 600px;
      }

      main {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
      }
    }